<html>
  <head>
    <title></title>
  </head>
  <body>
    screenshot by file:<br/>
    <form action="/screenshot" method="POST" enctype="multipart/form-data">
      <input type="file" name="file"><br />
      min width <input type="text" name="minwidth" value="" /><br />
      min height <input type="text" name="minheight" value="" /><br />

      width <input type="text" name="width" value="" /><br />
      height <input type="text" name="height" value="" /><br />
      <input type="submit" name="submit" value="submit" />
    </form>
  </body>
</html>
